<!DOCTYPE html>
<html>
<head>
  <title>SudokuSolver2</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "animations", media: "all" %>
    <%= stylesheet_link_tag "animate", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "app" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
